<!----------------------------- form ----------------------------->
<div id="admin-form-overlay" class = "overlay-div">
    <p>Add Admin</p>
    <form method = "post" action = "users/makeAdmin">
        <div class="form-item-div">
            <input class="product-line-input" required name= "userID" type="text">
            <label>User ID</label>
        </div>
        <div class="msg-div">
            <p class="msg"></p>
          </div>
        <a onclick = "submitAdminForm(this)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Make Admin
        </a>
    </form>
    <p>Changed your mind? <a onclick="HideOverlay()"
        class="cancel-form">Cancel</a></p>
</div>
<!----------------------- end of add admin form ---------------------------->