<div id="products" class="only-one">
    <h1>Products</h1>

    <div class="smallContainer" style="width:fit-content">
        <button onclick="HideOverlay();ShowForm('product-form-overlay')">
            <h4>Add Product</h4>
        </button>
    </div>

    <div id="myProducts" class="smallContainer">
        <h3>Your products</h3>
        <table>
            <tbody>
                <tr>
                    <th class="imgHeader"></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Inventory</th>
                </tr>
                <tr>
                    <td class="imgCell"><img src="../Images/Icons/Product-1.jpg"></td>
                    <td>Skechers 2021</td>
                    <td>Shoes</td>
                    <td>1500</td>
                    <td>57</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>