<div id="home" class="only-one">
    <h1>Welcome Back, <%= firstName %></h1>
    <div id="suggested" class="smallContainer">
        <h4>Suggested for you</h4>
        <ul>
            <a href="/">
                <li>Back to homepage</li>
            </a>
            <a href="/dashboard/products?page=0">
                <li>Update your products</li>
            </a>
            <a href="/dashboard/users?page=0" class="active">
                <li>Check Users</li>
            </a>
            <a href="/dashboard/insights" class="active">
                <li>Review Insights</li>
            </a>
            <a href="/dashboard/insights">
                <li>Review profits</li>
            </a>
        </ul>
    </div>
</div>