<!----------------------------- form ----------------------------->
<div id="admin-form-overlay" class = "overlay-div">
    <p>Add Admin</p>
    <form method = "post" action = "users/makeAdmin">
        <div class="form-item-div">
            <input required name= "userID" type="text">
            <label>User ID</label>
        </div>

        <a href="#" onclick = "submitForm(this)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Make Admin
        </a>
    </form>
    <p>Changed your mind? <a onclick="HideOverlay()"
        class="cancel-form">Cancel</a></p>
</div>
<!----------------------- end of add product form ---------------------------->