<div id="home" class="only-one">
    <h1>Welcome Back, Admin</h1>
    <div id="suggested" class="smallContainer">
        <h4>Suggested for you</h4>
        <ul>
            <a onclick="setTimeout(OneAtATime, 50, 'products'); makeActive(this);" href="#">
                <li>Update your products</li>
            </a>
            <a onclick="setTimeout(OneAtATime, 50, 'users'); makeActive(this);" href="#" class="active">
                <li>Check Users</li>
            </a>
            <a onclick="setTimeout(OneAtATime, 50, 'insights'); makeActive(this);" href="#" class="active">
                <li>Review Insights</li>
            </a>
            <a href="#">
                <li>Review profits</li>
            </a>
        </ul>
    </div>
</div>