<!----------------------------- add product form ----------------------------->
<div id="product-form-overlay" class="overlay-div">
    <p>Add Product</p>
    <form>
        <div class="form-item-div">
            <input required="" type="text">
            <label>Product Name</label>
        </div>
        <div class="form-item-div">
            <input required="" name="" type="text">
            <label>Product Price</label>
        </div>
        <div class="form-item-div">
            <input required="" name="" type="text">
            <label>Product Description</label>
        </div>
        <div class="form-item-div">
            <input required="" name="" type="text">
            <label>Stock</label>
        </div>

        <a href="#" onclick = "submitForm(this)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Add
        </a>
    </form>
    <p>Changed your mind? <a onclick="HideOverlay()"
            class="cancel-form">Cancel</a></p>
</div>
<!----------------------- end of add product form ---------------------------->