<div class="container">
  <div class="row">
    <div class="footer-col">
      <h4>Menu</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Our services</a></li>
        <li><a href="#">privacy policy</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>get help</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
        <li><a href="#">Order status</a></li>
        <li><a href="#">Payment options</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>online shop</h4>
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/products?query=men&page=0">Men</a></li>
        <li><a href="/products?query=women&page=0">Women</a></li>
        <li><a href="/products?query=kids&page=0">Kids</a></li>
        <li><a href="/products?query=shoes&page=0">Shoes</a></li>
        <li><a href="/products?query=bags&page=0">Bags</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Contact us</h4>
      <div class="social-links">
        <a href="#"><img src="../Images/Icons/Facebook.png" /></a>
        <a href="#"><img src="../Images/Icons/Twitter.png" /></a>
        <a href="#"><img src="../Images/Icons/Instagram.png" /></a>
        <a href="#"><img src="../Images/Icons/phone.png" /></a>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>