<header>
    <span>FREE SHIPPING FOR ORDERS ABOVE 500 EGP</span>
</header>
<div class="row1">
    <span class="menuIcon"><input class="navImg" type="image" src="../Images/Icons/menu.png" onclick="toggleMenu()">
    </span>
    <span class="menuIcon" id="closeSearch" style="display: none;" onclick="toggleSearchBar(false)">
        <img class="navImg" src="../Images/Icons/close.png">
    </span>
    <span class="searchSpan">
        <input class="searchBox" type="search" placeholder="Search">
    </span>
    <span id="searchImg" class="menuIcon" onclick="toggleSearchBar(true);">
        <input class="navImg" type="image" src="../Images/Icons/search.png">
    </span>
    <span class="menuIcon"><a href="/wishlist"><img class="navImg" src="../Images/Icons/heart.png"></a></span>
    <span class="menuIcon"><a href="/cart"><img class="navImg" src="../Images/Icons/bag.png"></a></span>
    <span class="menuIcon"><a id="account" href="/account"><img class="navImg"
                src="../Images/Icons/account.png"></a></span>

    <% if (admin && admin==true) { %>
        <span class="menuIcon"><a href="/dashboard"><img class="navImg" src="../Images/Icons/dashboard.png"></a></span>
        <% } %>
</div>
<div class="row2">
    <a class="menuItem" href="/">Home</a>
    <a class="menuItem" href="/products/men">Men</a>
    <a class="menuItem" href="/products/women">Women</a>
    <a class="menuItem" href="/products/kids">Kids</a>
    <a class="menuItem" href="/products/shoes">Shoes</a>
    <a class="menuItem" href="/products/bags">Bags</a>
    <a class="menuItem" href="#">Sale</a>
</div>