<!----------------------------- add product form ----------------------------->
<div id="filter-form-overlay" class="overlay-div">
    <p>Filter Products</p>
    <form action = "/products" method="get" enctype="multipart/form-data">
        <div class="product-form-checkbox-div">
            <div>
                <label for="filter-men-checkbox">
                    <input id="filter-men-checkbox" class="filter-form-checkbox" checked required name="men" type="checkbox">
                    <span></span>
                    Men
                </label>
            </div>
            <div>
                <label for="filter-women-checkbox">
                    <input id="filter-women-checkbox" class="filter-form-checkbox" checked required name="women" type="checkbox">
                    <span></span>
                    Women
                </label>
            </div>
            <div>
                <label for="filter-kids-checkbox">
                    <input id="filter-kids-checkbox" class="filter-form-checkbox" checked required name="kids" type="checkbox">
                    <span></span>
                    Kids
                </label>
            </div>
        </div>

        <div class="product-form-checkbox-div">
            <div>
                <label for="filter-shoes-checkbox">
                    <input id="filter-shoes-checkbox" class="filter-form-checkbox" checked required name="shoes" type="checkbox">
                    <span></span>
                    Shoes
                </label>
            </div>
            <div>
                <label for="filter-bags-checkbox">
                    <input id="filter-bags-checkbox" class="filter-form-checkbox" checked required name="bags" type="checkbox">
                    <span></span>
                    Bag
                </label>
            </div>
        </div>
        

        <a onclick="submitFilterForm(this);">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Filter
        </a>
    </form>
    <p>Changed your mind? <a onclick="HideOverlay()"
            class="cancel-form">Cancel</a></p>
</div>
<!----------------------- end of add product form ---------------------------->