<div class="account-only-one overlay-div" id="sign-out">
	<div>
		<h4 class="center">Are you sure you want to sign out?</h4>
	</div>

	<div class="center">
		<a href="/"><button class="signout-button">Sign Out</button></a>
	</div>
</div>