<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Not Found</title>
    <link rel="stylesheet" type="text/css" href="../CSS/header.css">
    <link rel="stylesheet" type="text/css" href="../CSS/404.css">
</head>
<body>
    <div id="container">
        <div id="topNav">
            <%- include('./partials/header.ejs') %>
        </div>
        <div id="biggerContainer">
     <h1 id="err">OOPS,The page you are looking for is not found :) </h1>
        </div>

    </div>
</body>
<script src="../JS/header.js"></script>
</html>