<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="CSS/header.css">
    <link rel="stylesheet" type="text/css" href="CSS/footer.css">
    <link rel="stylesheet" type="text/css" href="CSS/products.css">
</head>

<body>
    <div id="container">
        <div id="topNav">
            <%- include('./partials/header.ejs') %>
        </div>

        <!-- need attribution (credits) for account icon in footer -->
        <!-- <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a> -->
        <!-- changed photo and got it from logomakr.com -->

        <div id="biggerContainer">
            <div id="bodyContainer">
                <h1>Pixi</h1>
                <p>Your Favourite Brand</p>
                <div class="productsGrid">
                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/acc1.jpg">
                            <span>Accessories</span>
                            <span class="price">50 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc2.jpg">
                            <span>Accessories</span>
                            <span class="price">79 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc3.jpg">
                            <span>Accessories</span>
                            <span class="price">65 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc4.jpg">
                            <span>Accessories</span>
                            <span class="price">45 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc5.jpg">
                            <span>Accessories</span>
                            <span class="price">60 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc6.jpg">
                            <span>Accessories</span>
                            <span class="price">80 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/acc7.jpg">
                            <span>Accessories</span>
                            <span class="price">50 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc8.jpg">
                            <span>Accessories</span>
                            <span class="price">50 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc9.jpg">
                            <span>Accessories</span>
                            <span class="price">60 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc10.jpg">
                            <span>Accessories</span>
                            <span class="price">65 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc11.jpg">
                            <span>Accessories</span>
                            <span class="price">50 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc12.jpg">
                            <span>Accessories</span>
                            <span class="price">65 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/acc20.jpg">
                            <span>Accessories</span>
                            <span class="price">65 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc14.jpg">
                            <span>Accessories</span>
                            <span class="price">50 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc15.jpg">
                            <span>Accessories</span>
                            <span class="price">80 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc16.jpg">
                            <span>Accessories</span>
                            <span class="price">59 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc17.jpg">
                            <span>Accessories</span>
                            <span class="price">650 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc18.jpg">
                            <span>Accessories</span>
                            <span class="price">54 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/acc19.jpg">
                            <span>Accessories</span>
                            <span class="price">60 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc13.jpg">
                            <span>Accessories</span>
                            <span class="price">90 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc21.jpg">
                            <span>Accessories</span>
                            <span class="price">85 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc22.jpg">
                            <span>Accessories</span>
                            <span class="price">50 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc23.jpg">
                            <span>Accessories</span>
                            <span class="price">49 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/acc24.jpg">
                            <span>Accessories</span>
                            <span class="price">50 EGP</span>
                        </div>
                    </div>
                </div>



            </div>

            <footer class="footer">
                <%- include('./partials/footer.ejs') %>
            </footer>
        </div>

</body>
<script src="../JS/header.js"></script>
<script src="../JS/productsopen.js"></script>

</html>