<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="CSS/header.css">
    <link rel="stylesheet" type="text/css" href="CSS/footer.css">
    <link rel="stylesheet" type="text/css" href="CSS/Cart.css">
</head>

<body>
    <div id="container">
        <div id="topNav">
            <%- include('./partials/header.ejs') %>
        </div>
        <div id="biggerContainer">
            <div id="bodyContainer">
                <div class="shopping-cart">
                    <!-- Title -->
                    <h1 class="title">Shopping Bag</h1>
                    <% userData.cart.forEach(ct=> { %>
                    <!-- Product #1 -->
                    <div class="item">

                        <div class="buttons">
                            <button class="delete-btn" type="button" name="button">
                                <img src="Images/Icons/delete.png" alt="">
                            </button>
                            <button class="like-btn" type="button" name="button" onclick="change(this)">
                                <img src="Images/Icons/Love.png" alt="">
                            </button>
                            <button class="like-btn" type="button" name="button" style="display: none;"
                                onclick="change2(this)">
                                <img src="Images/Icons/loved.png" alt="">
                            </button>
                        </div>


                        <img src="Images/Icons/Product-1.jpg" alt="" />


                        <div class="description">
                            <span><%=ct %></span>
                            <span></span>
                            <span></span>
                        </div>

                        <div class="quantity">
                            <input type="number" id="number" name="amount" value="1" min="1" max="10" />
                        </div>
                        <div class="total-price">$549</div>
                     </div>
                    <% }) %>
                    <input type="submit" value="Continue to checkout" href = "checkout.html"class="btncart" onclick="toCheckout()">
                </div>
            </div>

            <footer class="footer">
                <%- include('./partials/footer.ejs') %>
            </footer>
        </div>
    </div>
</body>
<script src="../JS/likebutton.js"></script>
<script src="../JS/header.js"></script>
<script type = "text/javascript">
    function toCheckout() {
        location.href = "/checkout";
    }
</script>

</html>