<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="CSS/header.css">
    <link rel="stylesheet" type="text/css" href="CSS/footer.css">
    <link rel="stylesheet" type="text/css" href="CSS/products.css">
</head>

<body>
    <div id="container">
        <div id="topNav">
            <%- include('./partials/header.ejs') %>
        </div>

        <!-- need attribution (credits) for account icon in footer -->
        <!-- <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a> -->
        <!-- changed photo and got it from logomakr.com -->

        <div id="biggerContainer">
            <div id="bodyContainer">
                <h1>Pixi</h1>
                <p>Your Favourite Brand</p>
                <div class="productsGrid">
                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/IMG-4130.JPG">
                            <span>New Shoes</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4131.JPG">
                            <span>New Shoes</span>
                            <span class="price">799 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4132.JPG">
                            <span>New Shoes</span>
                            <span class="price">655 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4133.JPG">
                            <span>New Shoes</span>
                            <span class="price">450 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4134.JPG">
                            <span>New Shoes</span>
                            <span class="price">600 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4135.JPG">
                            <span>New Shoes</span>
                            <span class="price">850 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/IMG-4136.JPG">
                            <span>New Shoes</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4137.JPG">
                            <span>New Shoes</span>
                            <span class="price">450 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4138.JPG">
                            <span>New Shoes</span>
                            <span class="price">600 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4139.JPG">
                            <span>New Shoes</span>
                            <span class="price">645 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4140.JPG">
                            <span>New Shoes</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4141.JPG">
                            <span>New Shoes</span>
                            <span class="price">635 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/IMG-4142.JPG">
                            <span>New Shoes</span>
                            <span class="price">685 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4143.JPG">
                            <span>New Shoes</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4144.JPG">
                            <span>New Shoes</span>
                            <span class="price">890 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4145.JPG">
                            <span>New Shoes</span>
                            <span class="price">599 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4146.JPG">
                            <span>New Shoes</span>
                            <span class="price">650 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4147.JPG">
                            <span>New Shoes</span>
                            <span class="price">545 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/IMG-4148.JPG">
                            <span>New Shoes</span>
                            <span class="price">600 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4149.JPG">
                            <span>New Shoes</span>
                            <span class="price">900 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4150.JPG">
                            <span>New Shoes</span>
                            <span class="price">865 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4151.JPG">
                            <span>New Classic Bag</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4152.JPG">
                            <span>New Shoes</span>
                            <span class="price">499 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/IMG-4153.JPG">
                            <span>New Shoes</span>
                            <span class="price">500 EGP</span>
                        </div>
                    </div>
                </div>



            </div>
            
            <footer class="footer">
                <%- include('./partials/footer.ejs') %>
            </footer>
        </div>

        <script src="../JS/header.js"></script>
        <script src="../JS/productsopen.js"></script>
</body>

</html>