<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="CSS/header.css">
    <link rel="stylesheet" type="text/css" href="CSS/footer.css">
    <link rel="stylesheet" type="text/css" href="CSS/products.css">
</head>

<body>
    <div id="container">
        <div id="topNav">
            <%- include('./partials/header.ejs') %>
        </div>

        <!-- need attribution (credits) for account icon in footer -->
        <!-- <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a> -->
        <!-- changed photo and got it from logomakr.com -->

        <div id="biggerContainer">
            <div id="bodyContainer">
                <h1>Pixi</h1>
                <p>Your Favourite Brand</p>
                <div class="productsGrid">
                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/bag1.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag12.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">799 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag3.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">655 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag16.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">450 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag5.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">600 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag6.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">850 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/bag19.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag9.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">450 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag7.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">600 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag11.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">645 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag2.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag13.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">635 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/bag15.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">685 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag4.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag17.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">890 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag18.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">599 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag8.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">650 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag20.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">545 EGP</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="product">
                            <img src="Images/Products/bag24.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">600 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag23.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">900 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag22.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">865 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag21.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">500 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag14.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">499 EGP</span>
                        </div>
                        <div class="product">
                            <img src="Images/Products/bag10.jpg">
                            <span>New Classic Bag</span>
                            <span class="price">500 EGP</span>
                        </div>
                    </div>
                </div>



            </div>
            
            <footer class="footer">
                <%- include('./partials/footer.ejs') %>
            </footer>
        </div>

</body>
<script src="../JS/header.js"></script>
<script src = "../JS/products.js"></script>

</html>