/* #users table {
    background-color: rgb(182, 187, 191);
    border-radius:10px;
    padding:10px;
    text-align: left;
    border-collapse: collapse;
    border:0px;
    border-style: hidden;
} */
    
/* #users table tr:nth-child(even) {
    background-color: rgb(51, 55, 57);
    color:rgb(182, 187, 191);
    
} */

.smallContainer:nth-of-type(1) {
    display: flex;
    flex-direction: row;
}

.smallContainer:nth-of-type(1) button {
    margin:10px;
}

.smallContainer:nth-of-type(1) button:nth-of-type(1) {
    margin-left:0px;
}

/* #users th,td {
    padding:5px;
    width: 15vw;
} */

/* #users th,td {
    border: 1px solid black;
} */

#users table .options button {
    font:inherit;
    background-color: transparent;
    border: 0px;
    color:red;
}

#users button {
    font:inherit;
    border:0px;
    border-radius:10px;
    background-color:rgb(182, 187, 191) ;
    padding:10px;
    box-shadow: 0 1rem 2rem rgba(48, 49, 53, 0.5);
    transition: ease all 300ms;
}

#users button:hover {
    cursor: pointer;
    box-shadow: none;
}

@media (max-width: 600px) {

    th,td {
        width: unset;
    }
    table {
        padding:5px;
    }
}



