:root {
    --font-size: 18px;
    --social-bg-color:rgba(255, 255, 255, 0.6);
    --footer-background-color: #d3d5d7;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
  }
  
  .footer {
    background-color:var(--footer-background-color);
    padding: 70px 0;
    bottom:0px;
    width: 100%;
    /* min-height:60vh; */
    height:max-content;
    position:relative;
    /* margin-bottom: 5vh; */
    margin-top: auto;
    /* align-self: flex-end; */
    padding-bottom: 100px;
  }
  
  footer div {
    margin-top:0px;
    margin-bottom:5vh;
  }
  
  footer div:nth-last-of-type(1), footer div:nth-last-of-type(2){
    margin-bottom: -5px;
  }
  
  footer .container {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    padding:5px;
  }
  
  footer .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  footer ul {
    list-style: none;
  }
  
  .footer-col {
    padding: 0 15px;
    color: black;
  }
  
  .footer-col h4 {
    font-size: var(--font-size);
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #727272;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li:last-child {
    margin-bottom:30px;
  }
  
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
    padding-right:15px;
  }
  
  .footer-col ul li a:hover {
    /* color: #ffffff; */
    font-weight: bold;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    /* background-color: var(--social-bg-color); */
    margin: 0 10px 10px 0;
    /* line-height: 55px; */
    justify-content: center;
    border-radius: 50%;
    /* color: #9b8181; */
    transition: all 0.5s ease;
    padding: 7px;
  }
  
  .footer-col .social-links a:hover {
    color: black;
    background-color: #ffffff;
  }
  
  .footer-col .social-links img {
    height: 25px;
    width: 25px;
  }

  .footer-dark {
    background-color: #222222;
  }

  .footer-dark .footer-col ul li a, .footer-dark .footer-col h4 {
    color: white;
  }