/* ---------------- UPLOAD IMAGE THING ---------------- */

/* .upload-image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    gap: 5px;
    background-color: white;
  }
  
  .upload-image .header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .upload-image .header svg {
    height: 20px;
  }
  
  .upload-image .header p {
    text-align: center;
    color: black;
  }
  
  .upload-image .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  
  .upload-image .footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .upload-image .footer p {
    flex: 1;
    text-align: center;
  }
  
  .upload-image #file {
    display: none;
  } */

/* ---------------- END OF UPLOAD IMAGE THING ---------------- */

/* ------------------------ FORM ------------------------ */


* {
  box-sizing: border-box;
}

.overlay-div {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  max-height: 80vh;
  max-width: 70vw;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  z-index: 1;
}

.overlay-div p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.overlay-div .form-item-div {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.product-line-input:-webkit-autofill, .product-line-input:-webkit-autofill:hover, .product-line-input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.overlay-div .form-item-div .product-line-input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.overlay-div .form-item-div label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.overlay-div .form-item-div input:focus ~ label,
.overlay-div .form-item-div input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.form-item-div {
  margin-top: 10px;
}

.overlay-div .form-item-div textarea:focus ~ label,
.overlay-div .form-item-div textarea:valid ~ label {
  top: -30px;
  font-size: 12px;
}

.overlay-div form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin: 10px 0;
  letter-spacing: 3px
}

.overlay-div a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.overlay-div form a span {
  position: absolute;
  display: block;
}

.overlay-div form a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.overlay-div form a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.overlay-div form a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.overlay-div form a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.overlay-div p:last-child {
  color: #aaa;
  font-size: 14px;
}

.overlay-div .cancel-form {
  color: #fff;
  text-decoration: none;
}

.overlay-div .cancel-form:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .overlay-div {
    overflow-y: scroll;
  }	
}

@media (max-height: 1000px) {
  .overlay-div {
    overflow-y: scroll;
  }	
}

.product-form-textarea {
  resize: none;
  padding: 4px;
}

.product-form-checkbox-div {
  margin-bottom: 2%;
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 50px;
}

.product-form-checkbox, .filter-form-checkbox {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.product-form-checkbox-div div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-form-checkbox-div label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 12px;
}

.product-form-checkbox-div span, .filter-form-checkbox-div span {
  height: 15px;
  width: 15px;
  border: 2px solid white;
  display: inline-block;
}

.product-form-checkbox:checked + span {/* <-- Style its checked state */
  background: white;
}

.filter-form-checkbox:checked + span {/* <-- Style its checked state */
  background: white;
}

.errorMsg {
  color: red;
  opacity: 0.6;
}

#product-description-label {
  margin-top: 0px;
}

/* ------------------------ END OF FORM ------------------------ */