:root {
    --navBar-bg-color: #8f8f8f;
    --menu-hover-color: #dbdbdb;
    --menu-font-size: calc(20px + 0.2vh);
    --menu-border-color: #4d4d4d;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#biggerContainer {
    overflow-y: scroll;
    height: 100%;
    margin: 0px;
    margin-top: calc(70px);
    padding: 0px;
}

#bodyContainer {
    /* overflow-x: scroll; */
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

#bodyContainer img {
    max-width: 100%;
}

#redirect-home:hover {
    cursor: pointer;
}

.productsGrid {
    margin-top:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width:100%;
}

.productsGrid .product {
    display: flex;
    flex-direction: column;
    padding:10px;
    margin-bottom:5px;
    margin-top:5px;
    width: 20%;
    min-height: 10vh;
    transition: ease all 300ms;
}

.productsGrid .product .price {
    font-weight: bold;
}

.productsGrid .product:hover {
    box-shadow:5px -3px 5px 3px rgba(128, 128, 128, 0.447);
}

@media (max-width: 1000px) {
    .productsGrid .product {
        width:33%;
    }
}

@media (max-width: 700px) {
    .productsGrid .product {
        width: 50%;
    }
}

@media (max-width: 600px) {
    #biggerContainer {
        margin-top: 9.8vh;
    }

    #bodyContainer {
        padding: 15px;
    }

    .productsGrid .product {
        width: 100%;
    }
}

.extraButton {
    margin-left: auto;
    font:inherit;
    border:0px;
    border-radius:10px;
    background-color:rgb(182, 187, 191) ;
    padding:10px;
    box-shadow: 0 1rem 2rem rgba(48, 49, 53, 0.5);
    transition: ease all 300ms;
}

.extraButton:hover {
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(48, 49, 53, 0.8);
}

.dark .extraButton:hover {
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(145, 147, 153, 0.8);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination div {
    font:inherit;
    border:0px;
    background-color:rgb(182, 187, 191) ;
    padding:5px;
    box-shadow: 0 1rem 2rem rgba(48, 49, 53, 0.5);
    margin:10px;
    border-radius: 10px;
    transition: ease all 300ms;
}

.pagination div:hover {
    background-color: #dbdbdb;
}

.pagination a {
    text-decoration: none;
    color: black;
}

.pagination .currentPage {
    background-color: rgb(51, 55, 57);
    box-shadow: none;
}

.pagination .currentPage a {
    color:rgb(182, 187, 191);
}

.dark .pagination div:hover {
    background-color: #c5c5c5;
    box-shadow: 0 1rem 2rem rgba(186, 186, 186, 0.3);
}

.dark .pagination div {
    background-color:rgb(95, 95, 95) ;
}

.dark .pagination .currentPage {
    background-color: rgb(228, 228, 228);
    box-shadow: none;
}

.dark .pagination .currentPage a {
    color: black;
}